{% extends 'Home/base.html' %}
{% block title %}Become Author{% endblock %}
{% block content %}
<div class="container">
    <div class="col-sm-6 mt-3 mx-auto">
        <h3>Become Author !!!</h3>
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-info">Regsiter</button>
        </form>
    </div>
</div>
{% endblock %}